Repository argilla-io/argilla, pull requests merged in 2022-05, with the labels that each got.

#1474 feat: include dataset labels metrics for token classification
  src/rubrix/server/apis/v0/models/metrics/token_classification.py
Labels: server

#1476 docs: replace sidebar screenshot, make cropped screenshot smaller
  docs/_static/reference/webapp/sidebar.png
  docs/_static/reference/webapp/sidebar_blured.png
  docs/reference/webapp/annotate_records.md
  docs/reference/webapp/dataset.md
  docs/reference/webapp/explore_records.md
  docs/reference/webapp/view_dataset_metrics.md
Labels: documentation

#1487 feat(#1134): Allow extending the weak label matrix with embeddings
  docs/index.rst
  docs/tutorials/extend_weak_labels_with_embeddings.ipynb
  environment_dev.yml
  src/rubrix/labeling/text_classification/weak_labels.py
  tests/labeling/text_classification/test_weak_labels.py
Labels: labeling

#1493 ci: pyproject.toml defines the deps and extra deps
  .github/workflows/ci.yml
  MANIFEST.in
  pyproject.toml
  setup.cfg
  setup.py
  src/rubrix/_version.py
Labels: ci, release candidate required

#1511 docs(#1501): fix user management guide
  docs/getting_started/user-management.ipynb
Labels: bug, documentation

#1513 fix(UI): remove selected metadata fields for sortable fields dropdown
  frontend/components/commons/header/filters/SortFilter.vue
  frontend/components/commons/header/filters/SortList.vue
Labels: bug, ui

#1521 feat(#1514): allow ent score None and change default value to 0.0
  src/rubrix/client/datasets.py
  src/rubrix/client/models.py
  tests/client/sdk/token_classification/test_models.py
  tests/client/test_models.py
  tests/functional_tests/test_log_for_token_classification.py
Labels: bug, client

#1507 feat(client): rubrix listener
  environment_dev.yml
  pyproject.toml
  src/rubrix/__init__.py
  src/rubrix/client/api.py
  src/rubrix/client/apis/metrics.py
  src/rubrix/client/apis/searches.py
  src/rubrix/client/sdk/client.py
  src/rubrix/listeners/__init__.py
  src/rubrix/listeners/listener.py
  src/rubrix/listeners/models.py
  tests/listeners/__init__.py
  tests/listeners/test_listener.py
Labels: client, experimental
