Repository argilla-io/argilla, pull requests merged in 2022-02, with the labels that each got.

#1071 docs(#949): make note in the LabelModel.score doc string an admonition
  src/rubrix/labeling/text_classification/label_models.py
Labels: documentation

#1093 refactor(#1044): include last updated field for sort
  src/rubrix/server/tasks/commons/api/model.py
  src/rubrix/server/tasks/text2text/service/service.py
  src/rubrix/server/tasks/text_classification/service/service.py
  src/rubrix/server/tasks/token_classification/service/service.py
  tests/server/text_classification/test_api.py
  tests/server/token_classification/test_api.py
Labels: enhancement, server

#1107 fix(#1094): return empty list for no predicted_as
  frontend/models/TextClassification.js
  frontend/specs/components/text-classification/results/ClassifierAnnotationArea.spec.js
  frontend/specs/components/text-classification/results/__snapshots__/ClassifierAnnotationArea.spec.js.snap
Labels: bug

#1120 docs: fix skweak images
  docs/tutorials/skweak.ipynb
Labels: bug, documentation

#1136 docs: small fix for the skweak tutorial
  docs/tutorials/skweak.ipynb
Labels: documentation

#1157 refactor(search): using search service for dataset scan
  src/rubrix/server/tasks/search/service.py
  src/rubrix/server/tasks/text2text/service/service.py
  src/rubrix/server/tasks/text_classification/service/service.py
  src/rubrix/server/tasks/token_classification/service/service.py
Labels: enhancement, server

#1162 refactor(metrics): compute text length as metric
  src/rubrix/server/tasks/commons/metrics/commons.py
  src/rubrix/server/tasks/text_classification/metrics.py
  src/rubrix/server/tasks/token_classification/api/model.py
Labels: enhancement, server

#1159 perf(settings): deprecate index template creation environment variable
  src/rubrix/__init__.py
  src/rubrix/logging.py
  src/rubrix/server/commons/settings.py
  src/rubrix/server/server.py
  src/rubrix/server/tasks/commons/dao/dao.py
  tests/client/conftest.py
  tests/client/sdk/datasets/test_api.py
  tests/client/sdk/text2text/test_api.py
  tests/client/sdk/text_classification/test_api.py
  tests/client/sdk/token_classification/test_api.py
  tests/client/sdk/users/test_api.py
  tests/client/test_dataset.py
  tests/client/test_rubrix_client.py
  tests/conftest.py
  tests/functional_tests/test_log_for_text_classification.py
  tests/functional_tests/test_log_for_token_classification.py
  tests/helpers.py
  tests/labeling/text_classification/test_label_errors.py
  tests/labeling/text_classification/test_rule.py
  tests/labeling/text_classification/test_weak_labels.py
  tests/metrics/test_common_metrics.py
  tests/metrics/test_text_classification.py
  tests/metrics/test_token_classification.py
  tests/monitoring/test_flair_monitoring.py
  tests/monitoring/test_spacy_monitoring.py
  tests/monitoring/test_transformers_monitoring.py
  tests/server/datasets/test_api.py
  tests/server/info/test_api.py
  tests/server/metrics/test_api.py
  tests/server/test_api.py
  tests/server/text2text/test_api.py
  tests/server/text_classification/test_api.py
  tests/server/text_classification/test_api_rules.py
  tests/server/token_classification/test_api.py
  tests/test_log.py
  tests/test_logging.py
Labels: server

#1155 docs(#422): update tutorial with new dataset feature
  docs/guides/datasets.ipynb
  docs/index.rst
  docs/tutorials/01-labeling-finetuning.ipynb
Labels: documentation

#1165 refactor(API): common records storage service
  src/rubrix/server/commons/es_helpers.py
  src/rubrix/server/tasks/api.py
  src/rubrix/server/tasks/commons/metrics/service.py
  src/rubrix/server/tasks/commons/task_factory.py
  src/rubrix/server/tasks/search/query_builder.py
  src/rubrix/server/tasks/search/service.py
  src/rubrix/server/tasks/storage/__init__.py
  src/rubrix/server/tasks/storage/model.py
  src/rubrix/server/tasks/storage/service.py
  src/rubrix/server/tasks/text2text/service/service.py
  src/rubrix/server/tasks/text_classification/service/service.py
  src/rubrix/server/tasks/token_classification/service/service.py
Labels: server

#1150 refactor(#995): use sklearn classification_report for label model scores
  docs/guides/weak-supervision.ipynb
  src/rubrix/labeling/text_classification/label_models.py
  tests/labeling/text_classification/test_label_models.py
Labels: labeling

#1173 fix(#1172): install working ipython version in the environment_docs.yml
  environment_dev.yml
  environment_docs.yml
Labels: bug, documentation

#1177 fix(#1176): when converting to datasets, we convert empty dicts to Nones
  .github/workflows/ci.yml
  src/rubrix/client/datasets.py
  src/rubrix/client/models.py
  tests/client/test_dataset.py
  tests/client/test_rubrix_client.py
Labels: bug, client

#1187 fix(#1186): prevent converting None ids to str 'None's
  src/rubrix/client/datasets.py
  tests/client/test_dataset.py
Labels: bug, client

#1189 docs(#1179): add note about the dev guide from the master installation section
  docs/community/developer_docs.rst
  docs/getting_started/advanced_setup_guides.rst
Labels: documentation

#1196 refactor(datasets): hierarchical datasets service implementation
  src/rubrix/server/datasets/api.py
  src/rubrix/server/datasets/dao.py
  src/rubrix/server/datasets/model.py
  src/rubrix/server/datasets/service.py
  src/rubrix/server/tasks/api.py
  src/rubrix/server/tasks/commons/metrics/api.py
  src/rubrix/server/tasks/commons/task_factory.py
  src/rubrix/server/tasks/search/service.py
  src/rubrix/server/tasks/text2text/api/api.py
  src/rubrix/server/tasks/text2text/api/model.py
  src/rubrix/server/tasks/text2text/service/service.py
  src/rubrix/server/tasks/text_classification/api/api.py
  src/rubrix/server/tasks/text_classification/api/model.py
  src/rubrix/server/tasks/text_classification/service/labeling_service.py
  src/rubrix/server/tasks/text_classification/service/service.py
  src/rubrix/server/tasks/token_classification/api/api.py
  src/rubrix/server/tasks/token_classification/api/model.py
  src/rubrix/server/tasks/token_classification/service/service.py
  tests/client/test_rubrix_client.py
  tests/server/datasets/test_api.py
Labels: server

#1197 feat(search): indexing keyword fields with textual info
  src/rubrix/server/commons/es_helpers.py
  src/rubrix/server/tasks/commons/dao/es_config.py
  src/rubrix/server/tasks/text_classification/dao/es_config.py
  src/rubrix/server/tasks/token_classification/dao/es_config.py
Labels: enhancement, server

#1190 feat(#1144): weak multi labels
  docs/reference/python/python_labeling.rst
  src/rubrix/labeling/text_classification/__init__.py
  src/rubrix/labeling/text_classification/rule.py
  src/rubrix/labeling/text_classification/weak_labels.py
  tests/functional_tests/test_log_for_token_classification.py
  tests/labeling/text_classification/test_label_models.py
  tests/labeling/text_classification/test_weak_labels.py
Labels: labeling
