Repository argilla-io/argilla, pull requests merged in 2023-10, with the labels that each got.

#3862 feat: add records metadata validation on the backend
  src/argilla/server/alembic/versions/b8458008b60e_add_allow_extra_metadata_column_to_.py
  src/argilla/server/contexts/datasets.py
  src/argilla/server/models/__init__.py
  src/argilla/server/models/database.py
  src/argilla/server/models/metadata_properties.py
  src/argilla/server/schemas/v1/datasets.py
  tests/factories.py
  tests/unit/server/api/v1/test_datasets.py
Labels: enhancement, api

#3894 fix: segmentation fault running unit tests
  .github/workflows/run-python-tests.yml
Labels: ci, bugfix

#3885 fix: `sort_by` by metadata property validation
  .github/workflows/run-python-tests.yml
  src/argilla/server/apis/v1/handlers/datasets.py
  src/argilla/server/utils.py
  tests/unit/server/api/v1/test_datasets.py
  tests/unit/server/test_utils.py
Labels: api, bugfix

#3822 feat: add `RemoteResponseSchema.{inserted_at,updated_at}` fields
  CHANGELOG.md
  src/argilla/client/feedback/schemas/remote/records.py
  tests/unit/client/feedback/schemas/remote/test_records.py
Labels: enhancement, client

#3903 feat: add computing `total` in listing endpoints when no search engine
  .github/workflows/package.yml
  CHANGELOG.md
  src/argilla/server/apis/v1/handlers/datasets.py
  src/argilla/server/contexts/datasets.py
  tests/unit/server/api/v1/test_datasets.py
Labels: enhancement, api

#3907 feat: make `settings` optional for `metadata_properties`
  docker/scripts/load_data.py
  src/argilla/client/feedback/dataset/base.py
  src/argilla/client/feedback/schemas/metadata.py
  src/argilla/client/feedback/schemas/remote/metadata.py
  src/argilla/server/models/metadata_properties.py
  src/argilla/server/schemas/v1/datasets.py
  tests/unit/client/feedback/schemas/remote/test_metadata.py
  tests/unit/client/feedback/schemas/test_metadata.py
  tests/unit/client/feedback/test_utils.py
  tests/unit/server/api/v1/test_datasets.py
Labels: enhancement, client, api

#3916 feat: update `FilteredRemoteFeedbackRecords.__len__` method
  CHANGELOG.md
  src/argilla/client/feedback/dataset/remote/filtered.py
  src/argilla/client/sdk/v1/datasets/models.py
  tests/integration/client/feedback/dataset/remote/test_filtered.py
Labels: enhancement, client

#3926 fix: make `values` in `{Remote}ResponseSchema` optional when `status=discarded`
  CHANGELOG.md
  src/argilla/client/feedback/schemas/records.py
  src/argilla/client/sdk/v1/datasets/models.py
  tests/unit/client/feedback/schemas/remote/test_records.py
  tests/unit/client/feedback/schemas/test_records.py
Labels: client, api

#3829 fix: follow-up fixes for detached `pydantic.BaseModel` schemas
  CHANGELOG.md
  src/argilla/client/feedback/config.py
  src/argilla/client/feedback/dataset/base.py
  src/argilla/client/feedback/dataset/local.py
  src/argilla/client/feedback/dataset/mixins.py
  src/argilla/client/feedback/dataset/remote/base.py
  src/argilla/client/feedback/dataset/remote/dataset.py
  src/argilla/client/feedback/schemas/enums.py
  src/argilla/client/feedback/schemas/fields.py
  src/argilla/client/feedback/schemas/questions.py
  src/argilla/client/feedback/schemas/records.py
  src/argilla/client/feedback/schemas/remote/shared.py
  src/argilla/client/feedback/utils.py
  tests/integration/client/feedback/dataset/remote/test_filtered.py
  tests/integration/client/feedback/dataset/test_dataset.py
  tests/unit/client/feedback/dataset/test_base.py
  tests/unit/client/feedback/test_config.py
Labels: client

#3920 feat: add `PATCH /api/v1/records/{record_id}` endpoint
  src/argilla/server/apis/v1/handlers/records.py
  src/argilla/server/contexts/datasets.py
  src/argilla/server/models/database.py
  src/argilla/server/policies.py
  src/argilla/server/schemas/v1/datasets.py
  src/argilla/server/schemas/v1/records.py
  src/argilla/server/search_engine/base.py
  src/argilla/server/search_engine/commons.py
  tests/unit/server/api/v1/test_records.py
  tests/unit/server/search_engine/test_opensearch_engine.py
Labels: enhancement, api

#3900 feat: add `add_metadata_property` to both `FeedbackDataset` and `RemoteFeedbackDataset`
  CHANGELOG.md
  src/argilla/client/feedback/dataset/base.py
  src/argilla/client/feedback/dataset/local.py
  src/argilla/client/feedback/dataset/remote/dataset.py
  src/argilla/client/feedback/schemas/metadata.py
  tests/integration/client/feedback/dataset/remote/test_dataset.py
  tests/unit/client/feedback/dataset/test_base.py
  tests/unit/client/feedback/dataset/test_local.py
Labels: enhancement, client

#3930 feat: add `allow_extra_metadata` to client
  src/argilla/client/feedback/dataset/base.py
  src/argilla/client/feedback/dataset/local.py
  src/argilla/client/feedback/dataset/mixins.py
  src/argilla/client/feedback/dataset/remote/base.py
  src/argilla/client/feedback/dataset/remote/dataset.py
  src/argilla/client/feedback/utils.py
  src/argilla/client/sdk/v1/datasets/api.py
  src/argilla/client/sdk/v1/datasets/models.py
  tests/integration/client/feedback/dataset/remote/test_dataset.py
  tests/integration/client/sdk/v1/test_datasets.py
  tests/unit/client/feedback/dataset/test_base.py
  tests/unit/client/feedback/dataset/test_local.py
Labels: enhancement, client

#3944 feat: add `pytest-env` dependency and set `ARGILLA_ENABLE_TELEMETRY=0`
  environment_dev.yml
  pyproject.toml
Labels: enhancement, tests, ci

#3939 chore: upgrade `setfit` and remove `huggingface_hub` restriction
  environment_dev.yml
  pyproject.toml
Labels: integration, dependencies

#3932 feat: add `delete_metadata_properties` and `_RemoteMetadataProperty.delete`
  CHANGELOG.md
  src/argilla/client/feedback/dataset/base.py
  src/argilla/client/feedback/dataset/local.py
  src/argilla/client/feedback/dataset/mixins.py
  src/argilla/client/feedback/dataset/remote/dataset.py
  src/argilla/client/feedback/dataset/remote/mixins.py
  src/argilla/client/feedback/mixins.py
  src/argilla/client/feedback/schemas/fields.py
  src/argilla/client/feedback/schemas/metadata.py
  src/argilla/client/feedback/schemas/questions.py
  src/argilla/client/feedback/schemas/remote/metadata.py
  src/argilla/client/sdk/v1/metadata_properties/__init__.py
  src/argilla/client/sdk/v1/metadata_properties/api.py
  src/argilla/client/sdk/v1/metadata_properties/models.py
  tests/integration/client/feedback/dataset/remote/test_dataset.py
  tests/integration/client/feedback/schemas/remote/test_metadata.py
  tests/integration/client/sdk/v1/test_metadata_properties.py
  tests/unit/client/feedback/dataset/test_local.py
Labels: enhancement, client

#3948 feat: add `visible_for_annotators` field in `{...}MetadataProperty`
  src/argilla/__init__.py
  src/argilla/client/feedback/schemas/metadata.py
  src/argilla/client/feedback/schemas/remote/metadata.py
  src/argilla/client/sdk/v1/datasets/models.py
  tests/integration/client/feedback/schemas/remote/test_metadata.py
  tests/unit/client/feedback/schemas/remote/test_metadata.py
  tests/unit/client/feedback/schemas/test_metadata.py
Labels: enhancement, client

#3951 fix(test): add `target_modules` for `peft`
  tests/integration/client/feedback/training/test_trainer.py
Labels: tests, integration, bugfix

#3946 feat: Support for update records from SDK
  .github/workflows/run-python-tests.yml
  CHANGELOG.md
  src/argilla/client/feedback/dataset/base.py
  src/argilla/client/feedback/dataset/local.py
  src/argilla/client/feedback/dataset/remote/dataset.py
  src/argilla/client/feedback/dataset/remote/mixins.py
  src/argilla/client/feedback/schemas/records.py
  src/argilla/client/feedback/schemas/remote/records.py
  src/argilla/client/feedback/schemas/remote/shared.py
  src/argilla/client/sdk/v1/datasets/api.py
  src/argilla/client/sdk/v1/records/api.py
  src/argilla/client/workspaces.py
  tests/integration/client/feedback/dataset/remote/test_dataset.py
  tests/integration/client/feedback/dataset/test_dataset.py
  tests/integration/client/sdk/v1/test_datasets.py
  tests/unit/client/feedback/dataset/remote/__init__.py
  tests/unit/client/feedback/dataset/remote/test_dataset.py
  tests/unit/client/feedback/dataset/test_base.py
  tests/unit/client/feedback/dataset/test_local.py
  tests/unit/conftest.py
Labels: enhancement, client

#3887 fix: `configure_dataset_settings` to use `workspace` arg
  CHANGELOG.md
  src/argilla/client/apis/datasets.py
  src/argilla/client/sdk/datasets/api.py
  src/argilla/datasets/__init__.py
  tests/integration/test_datasets_settings.py
Labels: client, bugfix

#3953 feat: add `title` and drop `description` from Python SDK
  src/argilla/client/feedback/schemas/metadata.py
  src/argilla/client/feedback/schemas/remote/metadata.py
  src/argilla/client/sdk/v1/datasets/models.py
  tests/integration/client/sdk/v1/test_datasets.py
  tests/unit/client/feedback/schemas/remote/test_metadata.py
  tests/unit/client/feedback/schemas/test_metadata.py
Labels: enhancement, client

#3934 feat: add `PATCH /api/v1/dataset/{dataset_id}/records` endpoint
  CHANGELOG.md
  src/argilla/server/apis/v1/handlers/datasets.py
  src/argilla/server/apis/v1/handlers/records.py
  src/argilla/server/contexts/datasets.py
  src/argilla/server/models/base.py
  src/argilla/server/models/mixins.py
  src/argilla/server/policies.py
  src/argilla/server/schemas/v1/datasets.py
  src/argilla/server/schemas/v1/records.py
  src/argilla/server/search_engine/base.py
  src/argilla/server/search_engine/commons.py
  tests/unit/client/feedback/dataset/test_base.py
  tests/unit/server/api/v1/test_datasets.py
  tests/unit/server/api/v1/test_records.py
  tests/unit/server/models/test_base.py
  tests/unit/server/search_engine/test_elasticsearch_engine.py
  tests/unit/server/search_engine/test_opensearch_engine.py
Labels: enhancement, api

#3978 fix: a lot of typos identified thanks to `codespell`
  src/argilla/client/api.py
  src/argilla/client/client.py
  src/argilla/client/feedback/dataset/base.py
  src/argilla/client/feedback/dataset/remote/dataset.py
  src/argilla/client/feedback/integrations/huggingface/card/argilla_template.md
  src/argilla/client/feedback/integrations/huggingface/model_card/model_card.py
  src/argilla/client/feedback/schemas/questions.py
  src/argilla/client/feedback/schemas/records.py
  src/argilla/client/feedback/training/schemas.py
  src/argilla/client/users.py
  src/argilla/client/workspaces.py
  src/argilla/metrics/commons.py
  src/argilla/metrics/token_classification/metrics.py
  src/argilla/training/spacy.py
Labels: fixed

#3961 feat: add `update_metadata_properties` in `FeedbackDataset` and `RemoteFeedbackDataset`
  CHANGELOG.md
  src/argilla/client/feedback/dataset/base.py
  src/argilla/client/feedback/dataset/local/__init__.py
  src/argilla/client/feedback/dataset/local/dataset.py
  src/argilla/client/feedback/dataset/local/mixins.py
  src/argilla/client/feedback/dataset/remote/dataset.py
  src/argilla/client/feedback/mixins.py
  src/argilla/client/feedback/schemas/remote/metadata.py
  src/argilla/client/feedback/schemas/remote/shared.py
  src/argilla/client/sdk/v1/metadata_properties/api.py
  tests/integration/client/feedback/dataset/local/__init__.py
  tests/integration/client/feedback/dataset/remote/test_dataset.py
  tests/integration/client/feedback/schemas/remote/test_metadata.py
  tests/integration/client/sdk/v1/test_metadata_properties.py
  tests/unit/client/feedback/dataset/local/__init__.py
  tests/unit/client/feedback/dataset/local/test_dataset.py
  tests/unit/client/feedback/dataset/test_base.py
  tests/unit/client/sdk/v1/__init__.py
  tests/unit/client/sdk/v1/metadata_properties/__init__.py
  tests/unit/client/sdk/v1/metadata_properties/test_api.py
Labels: enhancement, client

#3947 feat: include `metadata_properties` in `DatasetConfig` on `{push_to,from}_huggingface`
  CHANGELOG.md
  src/argilla/client/feedback/config.py
  src/argilla/client/feedback/dataset/base.py
  src/argilla/client/feedback/dataset/local/dataset.py
  src/argilla/client/feedback/dataset/remote/dataset.py
  src/argilla/client/feedback/integrations/huggingface/card/argilla_template.md
  src/argilla/client/feedback/integrations/huggingface/dataset.py
  src/argilla/client/feedback/schemas/metadata.py
  src/argilla/client/feedback/utils.py
  tests/integration/client/feedback/integrations/huggingface/test_card.py
  tests/integration/client/feedback/integrations/huggingface/test_dataset.py
  tests/unit/cli/datasets/conftest.py
  tests/unit/cli/datasets/test_push.py
  tests/unit/client/feedback/conftest.py
  tests/unit/client/feedback/dataset/remote/test_dataset.py
  tests/unit/client/feedback/integrations/__init__.py
  tests/unit/client/feedback/integrations/huggingface/card/__init__.py
  tests/unit/client/feedback/integrations/huggingface/card/test__dataset_card.py
  tests/unit/client/feedback/integrations/huggingface/card/test__parser.py
  tests/unit/client/feedback/test_config.py
Labels: enhancement, client

#4006 fix: `FeedbackDataset` fields with `required=False` failing on `push_to_huggingface`
  src/argilla/client/feedback/integrations/huggingface/dataset.py
  tests/unit/client/feedback/integrations/huggingface/test_dataset.py
Labels: bugfix

#4057 fix(grammatical): Spelling mistakes
  docs/_source/community/developer_docs.md
  docs/_source/community/migration-rubrix.md
  docs/migration-rubrix.md
Labels: hacktoberfest-accepted

#4045 fix: bump up pre-commit version in environment_dev.yml
  environment_dev.yml
Labels: hacktoberfest-accepted

#4093 Fix: Bump up typer version to match newest spacy requirements
  pyproject.toml
Labels: hacktoberfest-accepted, hacktoberfest

#4091 feat: add `title` col and remove `description` col from `VectorSettings`
  src/argilla/server/alembic/versions/7850ab5b42d9_create_vectors_settings_table.py
  src/argilla/server/contexts/datasets.py
  src/argilla/server/models/database.py
  src/argilla/server/schemas/v1/datasets.py
  tests/factories.py
  tests/unit/server/api/v1/test_datasets.py
  tests/unit/server/api/v1/test_vectors_settings.py
Labels: enhancement, api

#4094 chore: bump version of httpx package
  pyproject.toml
Labels: hacktoberfest-accepted, hacktoberfest, machine-learning

#4092 feat: add `PATCH /api/v1/vectors-settings/{vector_settings_id}` endpoint
  CHANGELOG.md
  src/argilla/server/apis/v1/handlers/vectors_settings.py
  src/argilla/server/contexts/datasets.py
  src/argilla/server/policies.py
  src/argilla/server/schemas/v1/vector_settings.py
  tests/unit/server/api/v1/test_vectors_settings.py
Labels: enhancement, api

#3976 feat: add `push_to_huggingface` method to the `ArgillaTrainer`
  CHANGELOG.md
  docs/_source/practical_guides/fine_tune.md
  environment_dev.yml
  pyproject.toml
  src/argilla/client/feedback/training/base.py
  src/argilla/client/feedback/training/frameworks/openai.py
  src/argilla/client/feedback/training/frameworks/peft.py
  src/argilla/client/feedback/training/frameworks/sentence_transformers.py
  src/argilla/client/feedback/training/frameworks/setfit.py
  src/argilla/client/feedback/training/frameworks/spacy.py
  src/argilla/client/feedback/training/frameworks/span_marker.py
  src/argilla/client/feedback/training/frameworks/transformers.py
  src/argilla/client/feedback/training/frameworks/trl.py
  tests/integration/client/feedback/training/test_openai.py
  tests/integration/client/feedback/training/test_sentence_transformers.py
  tests/integration/client/feedback/training/test_trainer.py
  tests/integration/client/feedback/training/test_trl.py
  tests/integration/conftest.py
Labels: machine-learning
