Repository argilla-io/argilla, pull requests merged in 2024-01, with the labels that each got.

#4460 ✨ Add copy button and fix status tag class
  frontend/components/base/base-breadcrumbs/BaseBreadcrumbs.vue
  frontend/components/commons/header/Header.component.vue
  frontend/components/commons/header/header-feedback-task/HeaderFeedbackTask.component.vue
  frontend/components/commons/header/header-feedback-task/headerFeedbackTask.spec.js
  frontend/components/commons/results/StatusTag.vue
  frontend/translation/en.json
Labels: area: ui, language: javascript, type: improvement, size:L, team: frontend

#4456 docs: update code for list aggregation metadata
  docs/_source/practical_guides/assign_records.md
  docs/_source/tutorials_and_integrations/tutorials/feedback/end2end_examples/assign-records-002.ipynb
Labels: type: documentation, language: python, team: backend, size:L

#4451 perf: improve upsert responses bulk
  src/argilla/server/apis/v1/handlers/responses.py
  src/argilla/server/contexts/datasets.py
  src/argilla/server/search_engine/commons.py
  src/argilla/server/use_cases/__init__.py
  src/argilla/server/use_cases/responses/__init__.py
  src/argilla/server/use_cases/responses/upsert_responses_in_bulk.py
  tests/unit/server/api/v1/responses/test_create_current_user_responses_bulk.py
  tests/unit/server/search_engine/test_commons.py
Labels: area: api, language: python, team: backend, type: improvement, size:L, lgtm

#4461 ✨ Restore filters from settings page for feedback dataset
  CHANGELOG.md
  frontend/components/base/base-tabs/BaseTabs.vue
  frontend/components/base/base-toast/Toast.vue
  frontend/components/commons/dataset-description/DatasetDescription.component.vue
  frontend/components/commons/dataset-description/DatasetDescriptionReadOnly.component.spec.js
  frontend/components/commons/dataset-description/DatasetDescriptionReadOnly.component.vue
  frontend/components/commons/header/header-feedback-task/DatasetSettingsIconFeedbackTask.component.vue
  frontend/components/commons/header/header-feedback-task/HeaderFeedbackTask.component.vue
  frontend/components/feedback-task/container/RecordFeedbackTaskAndQuestionnaire.content.vue
  frontend/components/feedback-task/container/questions/QuestionsForm.component.vue
  frontend/components/feedback-task/settings/DatasetDeleteFeedbackTask.vue
  frontend/components/feedback-task/settings/SettingsDangerZone.vue
  frontend/components/feedback-task/settings/SettingsFields.vue
  frontend/components/feedback-task/settings/SettingsInfo.vue
  frontend/components/feedback-task/settings/SettingsInfoReadOnly.vue
  frontend/components/feedback-task/settings/SettingsMetadata.vue
  frontend/components/feedback-task/settings/SettingsQuestions.vue
  frontend/components/feedback-task/settings/SettingsVectors.vue
  frontend/components/feedback-task/settings/TopDatasetSettingsFeedbackTask.content.vue
  frontend/components/feedback-task/settings/useSettingsMetadataViewModel.ts
  frontend/database/modules/notifications.js
  frontend/layouts/app.vue
  frontend/pages/dataset/_id/annotation-mode/index.vue
  frontend/pages/dataset/_id/settings.vue
  frontend/pages/dataset/_id/useDatasetSettingViewModel.ts
  frontend/translation/en.json
  frontend/v1/domain/entities/DatasetSetting.ts
  frontend/v1/infrastructure/services/index.ts
  frontend/v1/infrastructure/services/useRoutes.ts
  frontend/v1/infrastructure/services/useTranslate.ts
Labels: type: enhancement, area: ui, language: javascript, size:L, lgtm, team: frontend

#4464 ✨ Fix dataset settings descriptions and question descriptions
  frontend/v1/infrastructure/repositories/DatasetRepository.ts
  frontend/v1/infrastructure/repositories/QuestionRepository.ts
  frontend/v1/infrastructure/types/dataset.ts
Labels: type: bug, area: ui, language: javascript, size:M, team: frontend

#4463 feat: #4118 Added `ResponseStatusFilter` enum in `__init__`
  CHANGELOG.md
  src/argilla/__init__.py
  src/argilla/client/feedback/schemas/__init__.py
Labels: type: enhancement, language: python, team: backend, area: python sdk, size:S, lgtm

#4472 refactor: Moving server cli commands to server module
  CHANGELOG.md
  src/argilla/cli/app.py
  src/argilla/server/cli/__init__.py
  src/argilla/server/cli/__main__.py
  src/argilla/server/cli/database/__init__.py
  src/argilla/server/cli/database/__main__.py
  src/argilla/server/cli/database/migrate.py
  src/argilla/server/cli/database/revisions.py
  src/argilla/server/cli/database/users/__init__.py
  src/argilla/server/cli/database/users/__main__.py
  src/argilla/server/cli/database/users/create.py
  src/argilla/server/cli/database/users/create_default.py
  src/argilla/server/cli/database/users/migrate.py
  src/argilla/server/cli/database/users/update.py
  src/argilla/server/cli/database/users/utils.py
  src/argilla/server/cli/database/utils.py
  src/argilla/server/cli/search_engine/__init__.py
  src/argilla/server/cli/search_engine/__main__.py
  src/argilla/server/cli/search_engine/reindex.py
  src/argilla/server/cli/search_engine/rich.py
  src/argilla/server/cli/start.py
  tests/integration/conftest.py
  tests/unit/cli/test_server.py
  tests/unit/conftest.py
  tests/unit/server/cli/__init__.py
  tests/unit/server/cli/conftest.py
  tests/unit/server/cli/database/__init__.py
  tests/unit/server/cli/database/users/__init__.py
  tests/unit/server/cli/database/users/conftest.py
  tests/unit/server/cli/database/users/test_create.py
  tests/unit/server/cli/database/users/test_create_default.py
  tests/unit/server/cli/database/users/test_migrate.py
  tests/unit/server/cli/database/users/test_update.py
  tests/unit/server/cli/database/users/test_user_files/users.yml
  tests/unit/server/cli/database/users/test_user_files/users_invalid_user.yml
  tests/unit/server/cli/database/users/test_user_files/users_invalid_workspace.yml
  tests/unit/server/cli/database/users/test_user_files/users_one.yml
  tests/unit/server/cli/search_engine/__init__.py
  tests/unit/server/cli/search_engine/test_reindex.py
  tests/unit/server/cli/test_start.py
Labels: language: python, area: cli, type: refactor, team: backend, size:L, lgtm

#4473 ✨ Add suggestion value and response value
  frontend/components/feedback-task/header/sort-filter/SortCategoriesList.vue
  frontend/components/feedback-task/header/sort-filter/SortSelector.vue
  frontend/components/feedback-task/header/sort-filter/SortSelectorItem.vue
  frontend/translation/en.json
  frontend/v1/domain/entities/sort/SortCriteria.ts
  frontend/v1/domain/entities/sort/SortList.ts
  frontend/v1/infrastructure/repositories/RecordRepository.ts
Labels: type: enhancement, area: ui, language: javascript, size:L, lgtm, team: frontend

#4482 refactor: move Record and Response schemas to his own file and unify canonical schemas for them
  CHANGELOG.md
  src/argilla/server/apis/v1/handlers/datasets/datasets.py
  src/argilla/server/apis/v1/handlers/datasets/records.py
  src/argilla/server/apis/v1/handlers/records.py
  src/argilla/server/contexts/datasets.py
  src/argilla/server/contexts/search.py
  src/argilla/server/schemas/v1/datasets.py
  src/argilla/server/schemas/v1/questions.py
  src/argilla/server/schemas/v1/records.py
  src/argilla/server/schemas/v1/responses.py
  tests/unit/server/api/v1/datasets/test_search_dataset_records.py
  tests/unit/server/api/v1/test_datasets.py
  tests/unit/server/api/v1/test_questions.py
  tests/unit/server/api/v1/test_records.py
Labels: area: api, language: python, type: refactor, team: backend, size:XL, lgtm

#4477 feature interpret metadata entries with nonenan as non existent instead of returning an error
  CHANGELOG.md
  src/argilla/client/feedback/constants.py
  src/argilla/client/feedback/schemas/metadata.py
  src/argilla/server/contexts/datasets.py
  src/argilla/server/schemas/v1/datasets.py
  src/argilla/server/schemas/v1/records.py
  tests/integration/client/feedback/dataset/remote/test_dataset.py
  tests/unit/client/feedback/dataset/local/test_dataset.py
  tests/unit/client/feedback/dataset/test_helpers.py
  tests/unit/client/sdk/models/test_workspaces.py
  tests/unit/server/api/v1/test_datasets.py
Labels: area: server, language: python, team: backend, type: improvement, size:L, lgtm

#4487 refactor: move Question schemas to his own file and unify canonical Question schema adding dataset_id
  CHANGELOG.md
  src/argilla/server/apis/v1/handlers/datasets/datasets.py
  src/argilla/server/contexts/datasets.py
  src/argilla/server/schemas/v1/datasets.py
  src/argilla/server/schemas/v1/questions.py
  tests/unit/client/sdk/models/v1/test_datasets.py
  tests/unit/server/api/v1/test_datasets.py
Labels: area: api, language: python, type: refactor, team: backend, size:L, lgtm

#4488 refactor: move Field schemas to his own file and unify canonical Field schema adding dataset_id
  CHANGELOG.md
  src/argilla/server/apis/v1/handlers/datasets/datasets.py
  src/argilla/server/contexts/datasets.py
  src/argilla/server/schemas/v1/datasets.py
  src/argilla/server/schemas/v1/fields.py
  tests/unit/server/api/v1/test_datasets.py
  tests/unit/server/api/v1/test_fields.py
Labels: area: api, language: python, type: refactor, team: backend, size:L, lgtm

#4489 refactor: move MetadataProperty schemas to his own file and unify canonical MetadataProperty schema adding dataset_id
  CHANGELOG.md
  src/argilla/server/apis/v1/handlers/datasets/datasets.py
  src/argilla/server/contexts/datasets.py
  src/argilla/server/schemas/v1/datasets.py
  src/argilla/server/schemas/v1/metadata_properties.py
  tests/unit/server/api/v1/test_datasets.py
  tests/unit/server/api/v1/test_metadata_properties.py
Labels: area: api, language: python, type: refactor, team: backend, size:L, lgtm

#4454 feat: 4018 feature add out of the box embedding support via clientfeedbackintegrations
  .github/workflows/package.yml
  CHANGELOG.md
  docs/_source/_static/tutorials/add-sentence-transformers-embeddings-as-vectors/sentence-transformers.png
  docs/_source/practical_guides/annotation_workflows/add_text_descriptives_as_metadata.ipynb
  docs/_source/practical_guides/annotation_workflows/annotation_workflows.md
  docs/_source/practical_guides/annotation_workflows/semantic_search.md
  docs/_source/practical_guides/create_update_dataset/create_dataset.md
  docs/_source/practical_guides/create_update_dataset/metadata.md
  docs/_source/practical_guides/create_update_dataset/vectors.md
  docs/_source/tutorials_and_integrations/integrations/add_sentence_transformers_embeddings_as_vectors.ipynb
  docs/_source/tutorials_and_integrations/integrations/add_text_descriptives_as_metadata.ipynb
  docs/_source/tutorials_and_integrations/integrations/integrations.md
  docs/_source/tutorials_and_integrations/integrations/monitor_endpoints with_fastapi.ipynb
  docs/_source/tutorials_and_integrations/integrations/process_documents_with_unstructured.ipynb
  docs/_source/tutorials_and_integrations/integrations/use_argilla_callback_in_langchain.md
  environment_dev.yml
  pyproject.toml
  src/argilla/client/feedback/dataset/base.py
  src/argilla/client/feedback/dataset/local/dataset.py
  src/argilla/client/feedback/dataset/remote/dataset.py
  src/argilla/client/feedback/integrations/sentencetransformers.py
  src/argilla/client/feedback/integrations/textdescriptives.py
  src/argilla/client/feedback/schemas/types.py
  tests/integration/client/feedback/integrations/test_sentencetransformers.py
  tests/integration/client/feedback/integrations/test_textdescriptives.py
  tests/unit/client/feedback/integrations/test_sentencetransformers.py
  tests/unit/client/feedback/integrations/test_textdescriptives.py
Labels: type: enhancement, language: python, team: ml, area: python sdk, size:XXL

#4491 Bulk UI fixes
  frontend/components/feedback-task/container/mode/BulkAnnotation.vue
  frontend/components/feedback-task/container/mode/useBulkAnnotationViewModel.ts
  frontend/components/feedback-task/container/questions/QuestionsForm.component.vue
  frontend/components/feedback-task/container/similarity/SimilarityFilter.vue
  frontend/components/feedback-task/container/similarity/SimilarityReference.vue
  frontend/components/feedback-task/pagination/Pagination.component.vue
  frontend/components/feedback-task/settings/DatasetDeleteFeedbackTask.vue
  frontend/translation/en.json
  frontend/v1/domain/usecases/save-draft-bulk-annotation-use-case.ts
Labels: area: ui, language: javascript, type: improvement, size:L, team: frontend

#4494 Docs: bulk and sorting by rating values
  docs/_source/practical_guides/annotate_dataset.md
  docs/_source/practical_guides/filter_dataset.md
Labels: type: documentation, size:S

#4496 update similarity reference position and styles
  frontend/components/feedback-task/container/mode/FocusAnnotation.vue
  frontend/components/feedback-task/container/similarity/SimilarityRecordReference.vue
Labels: area: ui, language: javascript, type: improvement, size:XS, team: frontend

#4499 ✂️ feat/remove bulk pagination
  frontend/components/feedback-task/container/mode/BulkAnnotation.vue
Labels: type: breaking changes, area: ui, language: javascript, size:XS, team: frontend

#4498 chore: prepare changelog
  CHANGELOG.md
Labels: type: documentation, size:S

#4500 bulk UI fine tune
  frontend/assets/scss/abstract/placeholders/_tooltip.scss
  frontend/components/feedback-task/container/fields/RecordFieldsHeader.vue
  frontend/components/feedback-task/container/similarity/filters/SimilarityFilterLimit.vue
  frontend/translation/en.json
Labels: area: ui, language: javascript, type: improvement, size:S, team: frontend

#4497 refactor: clean datasets schemas moving classes to related files
  src/argilla/server/apis/v1/handlers/datasets/records.py
  src/argilla/server/apis/v1/handlers/questions.py
  src/argilla/server/apis/v1/handlers/responses.py
  src/argilla/server/contexts/search.py
  src/argilla/server/schemas/v1/datasets.py
  src/argilla/server/schemas/v1/records.py
  src/argilla/server/schemas/v1/suggestions.py
  tests/unit/server/contexts/search/test_search_records_query_validator.py
Labels: area: api, language: python, type: refactor, team: backend, size:L, lgtm

#4485 refactor: reorder and unify API v1 schemas
  CHANGELOG.md
  src/argilla/server/apis/v1/handlers/datasets/datasets.py
  src/argilla/server/apis/v1/handlers/datasets/records.py
  src/argilla/server/apis/v1/handlers/questions.py
  src/argilla/server/apis/v1/handlers/records.py
  src/argilla/server/apis/v1/handlers/responses.py
  src/argilla/server/contexts/datasets.py
  src/argilla/server/contexts/search.py
  src/argilla/server/schemas/v1/datasets.py
  src/argilla/server/schemas/v1/fields.py
  src/argilla/server/schemas/v1/metadata_properties.py
  src/argilla/server/schemas/v1/questions.py
  src/argilla/server/schemas/v1/records.py
  src/argilla/server/schemas/v1/responses.py
  src/argilla/server/schemas/v1/suggestions.py
  src/argilla/server/schemas/v1/vector_settings.py
  tests/unit/client/sdk/models/v1/test_datasets.py
  tests/unit/server/api/v1/datasets/test_search_dataset_records.py
  tests/unit/server/api/v1/test_datasets.py
  tests/unit/server/api/v1/test_fields.py
  tests/unit/server/api/v1/test_metadata_properties.py
  tests/unit/server/api/v1/test_questions.py
  tests/unit/server/api/v1/test_records.py
  tests/unit/server/api/v1/test_vectors_settings.py
  tests/unit/server/contexts/search/test_search_records_query_validator.py
Labels: area: api, language: python, type: refactor, team: backend, size:XXL

#4502 🐞 fix bulk annotation backward pagination
  frontend/translation/en.json
  frontend/v1/domain/entities/record/Records.test.ts
  frontend/v1/domain/entities/record/Records.ts
Labels: type: bug, area: ui, language: javascript, size:M, lgtm, team: frontend

#4508 refactor: remove argilla server external dependencies
  MANIFEST.in
  src/argilla/server/_messages.py
  src/argilla/server/alembic.ini
  src/argilla/server/apis/v0/handlers/records.py
  src/argilla/server/apis/v0/handlers/records_search.py
  src/argilla/server/app.py
  src/argilla/server/cli/database/migrate.py
  src/argilla/server/cli/database/users/create_default.py
  src/argilla/server/cli/typer_ext.py
  src/argilla/server/daos/backend/generic_elastic.py
  src/argilla/server/daos/models/records.py
  src/argilla/server/database.py
  src/argilla/server/logging.py
  src/argilla/server/services/tasks/text_classification/metrics.py
  src/argilla/server/services/tasks/token_classification/metrics.py
  src/argilla/server/services/tasks/token_classification/model.py
  src/argilla/server/utils/__init__.py
  src/argilla/server/utils/dependency.py
  src/argilla/server/utils/params.py
  src/argilla/server/utils/span_utils.py
  src/argilla/server/utils/utils.py
  tests/unit/server/api/v0/test_token_classification.py
  tests/unit/server/test_logging.py
  tests/unit/server/utils/__init__.py
  tests/unit/server/utils/test_dependency.py
  tests/unit/server/utils/test_span_utils.py
Labels: area: server, language: python, type: refactor, team: backend, size:XXL, lgtm

#4507 Typo fixed in Labelling Langchain tutorial
  docs/_source/tutorials_and_integrations/tutorials/feedback/labelling-feedback-langchain-syntethic.ipynb
Labels: type: bug, team: ml, team: interns, size:XS, lgtm

#4475 docs: tutorial monitoring bias and ethics
  docs/_source/_static/images/llms/monitoring-bias-ethics-dpo/monitoring-dataset.PNG
  docs/_source/tutorials_and_integrations/tutorials/feedback/monitoring-bias-ethics-dpo.ipynb
  docs/_source/tutorials_and_integrations/tutorials/tutorials.md
Labels: type: documentation, language: python, team: ml, size:XS

#4521 💄 Improve refactor json to js
  frontend/nuxt.config.ts
  frontend/translation/en.js
  frontend/translation/en.json
  frontend/translation/index.ts
Labels: size:L

#4495 feat: extend multimodality
  CHANGELOG.md
  docs/_source/_static/tutorials/making-most-of-markdown/pdf-view.PNG
  docs/_source/_static/tutorials/making-most-of-markdown/xlsx_view.PNG
  docs/_source/practical_guides/create_update_dataset/create_dataset.md
  docs/_source/tutorials_and_integrations/tutorials/feedback/making-most-of-markdown.ipynb
  frontend/components/base/base-render-markdown/RenderMarkdown.base.component.vue
  src/argilla/client/feedback/utils/__init__.py
  src/argilla/client/feedback/utils/html_utils.py
  tests/unit/client/feedback/utils/test_html_utils.py
Labels: type: enhancement, area: ui, language: python, language: javascript, team: backend, area: python sdk, size:L, lgtm, team: frontend

#4527 Fix security issue
  docker/docker-compose.with.postgresql.yaml
  docker/docker-compose.yaml
  docker/nginx/docker-compose.yaml
  docker/traefik/docker-compose.yaml
  docs/_source/conf.py
  docs/_source/getting_started/installation/configurations/user_management.md
  k8s/argilla-server-deployment.yaml
  src/argilla/server/security/auth_provider/db/settings.py
Labels: area: server, language: python, team: backend, size:S, lgtm

#4532 refactor: move users and workspaces schemas under schemas module
  src/argilla/server/apis/v0/handlers/users.py
  src/argilla/server/apis/v0/handlers/workspaces.py
  src/argilla/server/cli/database/users/create.py
  src/argilla/server/cli/database/users/migrate.py
  src/argilla/server/contexts/accounts.py
  src/argilla/server/contexts/datasets.py
  src/argilla/server/schemas/v0/users.py
  src/argilla/server/schemas/v0/workspaces.py
  src/argilla/server/security/__init__.py
  src/argilla/server/security/auth_provider/db/settings.py
  src/argilla/server/security/model.py
  tests/integration/test_datasets_settings.py
  tests/unit/client/sdk/models/test_users.py
  tests/unit/server/cli/database/users/test_migrate.py
  tests/unit/server/security/test_model.py
Labels: area: server, language: python, type: refactor, team: backend, size:L, lgtm

#4534 Improve button spinner
  frontend/components/base/base-button/BaseButton.vue
Labels: area: ui, language: javascript, type: improvement, size:S, team: frontend

#4514 ✨ Load dataset on focus tab
  CHANGELOG.md
  frontend/components/base/base-table/BaseTableInfo.vue
  frontend/components/features/datasets/datasets-table/DatasetsTable.vue
  frontend/pages/datasets/useDatasetsViewModel.ts
  frontend/v1/infrastructure/services/index.ts
  frontend/v1/infrastructure/services/useFocusTab.ts
Labels: type: enhancement, area: ui, language: javascript, size:M, lgtm, team: frontend

#4544 refactor: Review `username` regex pattern
  CHANGELOG.md
  src/argilla/server/schemas/v0/users.py
  tests/unit/server/security/test_model.py
Labels: area: server, language: python, team: backend, type: improvement, size:M, lgtm

#4531 feat: relax httpx dependency requirement
  environment_dev.yml
  pyproject.toml
Labels: type: dependencies, language: python, team: backend, area: python sdk, size:XS, lgtm

#4516 🚀 Bulk annotation by criteria
  frontend/components/base/base-button/BaseButton.vue
  frontend/components/base/base-spinner/BaseSpinner.vue
  frontend/components/feedback-task/container/mode/BulkAnnotation.vue
  frontend/components/feedback-task/container/mode/useBulkAnnotationViewModel.ts
  frontend/components/feedback-task/container/questions/QuestionsForm.component.vue
  frontend/database/modules/notifications.js
  frontend/package.json
  frontend/translation/en.js
  frontend/v1/di/di.ts
  frontend/v1/domain/entities/page/PageCriteria.ts
  frontend/v1/domain/entities/record/RecordCriteria.ts
  frontend/v1/domain/usecases/bulk-annotation-use-case.ts
  frontend/v1/domain/usecases/discard-bulk-annotation-use-case.ts
  frontend/v1/domain/usecases/get-records-by-criteria-use-case.ts
  frontend/v1/domain/usecases/load-records-to-annotate-use-case.ts
  frontend/v1/domain/usecases/save-draft-bulk-annotation-use-case.ts
  frontend/v1/domain/usecases/submit-bulk-annotation-use-case.ts
  frontend/v1/infrastructure/repositories/RecordRepository.ts
  frontend/v1/infrastructure/services/useTranslate.ts
Labels: type: enhancement, area: ui, language: javascript, size:XXL, team: frontend

#4550 fix: Query after search index modification
  src/argilla/server/search_engine/commons.py
  src/argilla/server/search_engine/elasticsearch.py
  src/argilla/server/search_engine/opensearch.py
  tests/unit/server/search_engine/test_commons.py
Labels: area: server, language: python, team: backend, type: improvement, size:S, lgtm

#4552 Fix/submitted queue
  frontend/components/feedback-task/container/questions/form/shared-components/label-selection/LabelSelection.component.vue
  frontend/translation/en.js
Labels: type: bug, area: ui, language: javascript, size:S, team: frontend

#4553 Update sign in claim copy
  frontend/translation/en.js
Labels: area: ui, language: javascript, type: improvement, size:XS, team: frontend

#4505 🐞 fix bulk annotation similarity pagination
  frontend/v1/domain/entities/record/Records.test.ts
  frontend/v1/domain/entities/record/Records.ts
Labels: type: bug, area: ui, language: javascript, size:M, lgtm, team: frontend

#4556 test: avoid using `pytest.warn` with `None` arguments
  tests/integration/client/test_api.py
  tests/unit/client/feedback/schemas/test_records.py
Labels: area: tests, language: python, team: backend, type: improvement, size:S, lgtm

#4549 Bug/workspace dataset user return lists
  src/argilla/client/users.py
  src/argilla/client/workspaces.py
Labels: type: bug, language: python, team: backend, area: python sdk, size:S, lgtm

#4467 SetFit dependency >= 1.0.0
  environment_dev.yml
  pyproject.toml
  src/argilla/training/setfit.py
Labels: type: dependencies, language: python, team: ml, area: python sdk, size:S

#4555 feat: Using OAuth in HF private spaces
  frontend/middleware/auth-guard.ts
  frontend/pages/welcome-hf-sign-in.vue
  frontend/v1/domain/entities/common/Params.ts
  frontend/v1/domain/entities/oauth/OAuthProvider.ts
  frontend/v1/domain/services/RouterService.ts
  frontend/v1/infrastructure/repositories/OAuthRepository.ts
  frontend/v1/infrastructure/services/useRoutes.ts
  src/argilla/server/security/authentication/oauth2/client_provider.py
Labels: area: server, language: javascript, type: improvement, size:M, lgtm
