Repository argilla-io/argilla, pull requests merged in 2024-05, with the labels that each got.

#4764 fix: UI welcome page scroll
  frontend/pages/datasets/index.vue
Labels: type: bug, area: ui, language: javascript, size:XS, lgtm, team: frontend, severity: minor

#4731 🧩 feat order by suggestion score
  frontend/components/feedback-task/container/questions/form/multi-label/MultiLabel.component.vue
  frontend/components/feedback-task/container/questions/form/shared-components/label-selection/LabelSelection.component.vue
  frontend/components/feedback-task/settings/SettingsQuestions.vue
  frontend/translation/de.js
  frontend/translation/en.js
  frontend/v1/domain/entities/question/Question.ts
  frontend/v1/domain/entities/question/QuestionAnswer.ts
  frontend/v1/domain/entities/question/QuestionSetting.test.ts
  frontend/v1/domain/entities/question/QuestionSetting.ts
  frontend/v1/infrastructure/types/question.ts
Labels: type: enhancement, area: ui, language: javascript, size:L, team: frontend, severity: minor

#4730 ✨ Add multi score attribute
  CHANGELOG.md
  frontend/assets/scss/abstract/placeholders/_tooltip.scss
  frontend/components/base/base-card/BaseCardWithTabs.vue
  frontend/components/base/base-tooltip/BaseTooltip.vue
  frontend/components/feedback-task/container/fields/span-annotation/components/EntityComponent.vue
  frontend/components/feedback-task/container/questions/form/multi-label/MultiLabel.component.vue
  frontend/components/feedback-task/container/questions/form/ranking/drag-and-drop-selection/DndSelection.component.vue
  frontend/components/feedback-task/container/questions/form/rating/RatingMonoSelection.component.vue
  frontend/components/feedback-task/container/questions/form/shared-components/label-selection/LabelSelection.component.vue
  frontend/components/feedback-task/container/questions/form/text-area/TextArea.component.vue
  frontend/components/feedback-task/container/questions/form/text-area/TextAreaSuggestion.vue
  frontend/components/feedback-task/settings/SettingsQuestions.vue
  frontend/translation/de.js
  frontend/translation/en.js
  frontend/v1/domain/entities/question/Question.ts
  frontend/v1/domain/entities/question/QuestionAnswer.ts
  frontend/v1/domain/entities/question/QuestionSetting.test.ts
  frontend/v1/domain/entities/question/QuestionSetting.ts
  frontend/v1/domain/entities/question/QuestionType.ts
  frontend/v1/domain/entities/question/Suggestion.test.ts
  frontend/v1/domain/entities/question/Suggestion.ts
  frontend/v1/infrastructure/types/question.ts
Labels: type: enhancement, area: ui, language: javascript, size:XXL, team: frontend, severity: minor

#4766 🚀 Improve cache
  frontend/components/commons/persistent-storage/PersistentStorageBanner.vue
  frontend/components/commons/persistent-storage/usePersistentStorageViewModel.ts
  frontend/pages/dataset/_id/annotation-mode/index.component.spec.js
  frontend/plugins/plugins/axios-cache.ts
  frontend/v1/domain/entities/__mocks__/metadata/mock.ts
  frontend/v1/domain/entities/__mocks__/vector/mocks.ts
  frontend/v1/domain/entities/metadata/Metadata.test.ts
  frontend/v1/domain/entities/metadata/Metadata.ts
  frontend/v1/domain/entities/vector/Vector.ts
  frontend/v1/domain/usecases/dataset-setting/get-dataset-settings-use-case.ts
  frontend/v1/domain/usecases/get-metadata-use-case.ts
  frontend/v1/infrastructure/repositories/AxiosCache.ts
  frontend/v1/infrastructure/repositories/DatasetRepository.ts
  frontend/v1/infrastructure/repositories/EnvironmentRepository.ts
  frontend/v1/infrastructure/repositories/FieldRepository.ts
  frontend/v1/infrastructure/repositories/MetadataRepository.ts
  frontend/v1/infrastructure/repositories/QuestionRepository.ts
  frontend/v1/infrastructure/repositories/RecordRepository.ts
  frontend/v1/infrastructure/repositories/VectorRepository.ts
  frontend/v1/infrastructure/services/useRunningEnvironment.ts
  frontend/v1/infrastructure/types/metadata.ts
  frontend/v1/infrastructure/types/vector.ts
Labels: area: ui, language: javascript, type: improvement, size:L, team: frontend

#4763 fix: some fixtures using incorrect score values on SDK integration tests
  pyproject.toml
  tests/integration/client/conftest.py
Labels: type: bug, area: tests, language: python, size:M, lgtm, severity: minor

#4757 feat: add SDK support for multi label `options_order`
  CHANGELOG.md
  src/argilla/client/feedback/schemas/enums.py
  src/argilla/client/feedback/schemas/questions.py
  src/argilla/client/feedback/schemas/remote/questions.py
  tests/unit/client/feedback/schemas/remote/test_questions.py
  tests/unit/client/feedback/schemas/test_questions.py
  tests/unit/client/feedback/test_config.py
Labels: type: enhancement, area: ui, area: python sdk, size:M, lgtm

#4760 ci: Configure main workflow for `argilla-frontend`
  .github/workflows/argilla-frontend.yml
Labels: area: ci, size:M, team: frontend

#4770 feat: small UI improvements
  frontend/components/feedback-task/container/fields/span-annotation/SpanAnnotationTextField.component.vue
  frontend/components/feedback-task/container/fields/span-annotation/components/EntityDropdown.vue
  frontend/components/feedback-task/container/fields/span-annotation/components/highlighting.ts
  frontend/components/feedback-task/container/questions/form/shared-components/label-selection/LabelSelection.component.vue
  frontend/components/feedback-task/container/questions/form/span/EntityLabelBadge.vue
Labels: area: ui, language: javascript, type: improvement, size:S, team: frontend, severity: minor

#4767 feat:update UI for settings page
  frontend/components/base/base-range/BaseRangeSlider.vue
  frontend/components/commons/user/user-settings/UserSettingsContent.vue
  frontend/components/commons/user/user-settings/UserSettingsHeader.vue
  frontend/components/features/datasets/datasets-settings/LeftDatasetSettings.content.vue
  frontend/components/features/datasets/datasets-settings/TopDatasetSettings.content.vue
  frontend/components/feedback-task/container/questions/form/shared-components/label-selection/LabelSelection.component.vue
  frontend/components/feedback-task/settings/SettingsDangerZone.vue
  frontend/components/feedback-task/settings/SettingsFields.vue
  frontend/components/feedback-task/settings/SettingsInfo.vue
  frontend/components/feedback-task/settings/SettingsInfoReadOnly.vue
  frontend/components/feedback-task/settings/SettingsMetadata.vue
  frontend/components/feedback-task/settings/SettingsQuestions.vue
  frontend/components/feedback-task/settings/SettingsVectors.vue
  frontend/layouts/HeaderAndOneColumn.vue
  frontend/layouts/HeaderAndTopAndTwoColumns.vue
  frontend/layouts/InternalPage.vue
  frontend/pages/dataset/_id/settings.vue
  frontend/pages/datasets/_workspace/_dataset/settings.vue
  frontend/pages/user-settings.vue
  frontend/translation/en.js
  frontend/v1/domain/entities/question/Question.ts
  frontend/v1/domain/entities/question/QuestionAnswer.ts
  frontend/v1/domain/usecases/dataset-setting/get-dataset-settings-use-case.ts
Labels: type: enhancement, area: ui, language: javascript, size:L, team: frontend

#4693 Fix: "cannot import name 'formatargspec' from 'inspect'" with Python 3.11
  CHANGELOG.md
  pyproject.toml
Labels: type: bug, language: python, team: backend, area: python sdk, size:XS, severity: major

#4765 ci: Configure `argilla-server` project
  .github/workflows/argilla-server.build-docker-image.yml
  .github/workflows/argilla-server.yml
  .github/workflows/argilla.yml
Labels: type: documentation, area: ci, language: python, team: backend, size:XXL

#4803 Adding LlamaIndex docs to integrations
  docs/_source/_static/tutorials/llama_index/argilla-ui-dataset.png
  docs/_source/index.rst
  docs/_source/tutorials_and_integrations/integrations/integrations.md
  docs/_source/tutorials_and_integrations/integrations/llama_index.ipynb
Labels: type: documentation

#4752 Log if a dataset is deleted
  src/argilla/client/client.py
Labels: type: enhancement, language: python, area: python sdk, size:XS
