Repository argilla-io/argilla, pull requests merged in 2024-04, with the labels that each got.

#4690 ✨ Change language automatically based on browser language
  frontend/nuxt.config.ts
  frontend/plugins/language/index.ts
  frontend/v1/infrastructure/services/useLanguageDetector.test.ts
  frontend/v1/infrastructure/services/useLanguageDetector.ts
Labels: type: enhancement, area: ui, language: javascript, size:L, team: frontend, severity: minor

#4697 feat: expose allow overlapping property
  CHANGELOG.md
  environment_dev.yml
  pyproject.toml
  src/argilla/client/feedback/schemas/questions.py
  src/argilla/client/feedback/schemas/remote/questions.py
  tests/integration/client/feedback/dataset/local/test_dataset.py
  tests/unit/client/feedback/schemas/remote/test_questions.py
  tests/unit/client/feedback/schemas/test_questions.py
Labels: area: api, language: python, team: backend, type: improvement, size:L, lgtm, severity: minor

#4704 fix: using proper get workspaces endpoint
  tests/integration/client/test_workspaces.py
Labels: type: bug, area: tests, area: api, language: python, team: backend, size:XS, severity: minor

#4705 docs: update Setfit ABSA tutorial
  docs/_source/_static/images/llms/training-setfit-absa/setfit-absa.png
  docs/_source/_static/images/llms/training-setfit-absa/setfit-basa-argilla.png
  docs/_source/tutorials_and_integrations/tutorials/feedback/training-setfit-absa.ipynb
  docs/_source/tutorials_and_integrations/tutorials/tutorials.md
Labels: type: documentation, team: ml, area: python sdk, size:XS, lgtm, severity: minor

#4687 Documentation update: small fix to code example in working with vectors doc
  docs/_source/practical_guides/create_update_dataset/vectors.md
Labels: type: documentation, team: ml, area: python sdk, size:XS, severity: minor

#4702 🚀 Improve performance
  CHANGELOG.md
  frontend/components/feedback-task/container/questions/form/shared-components/label-selection/LabelSelection.component.vue
  frontend/components/feedback-task/container/questions/form/span/EntityLabelSelection.component.vue
Labels: area: ui, language: javascript, type: improvement, size:XS, lgtm, team: frontend, severity: minor

#4682 ✨ feat/new suggestions UI
  CHANGELOG.md
  frontend/components/base/base-card/BaseCardWithTabs.vue
  frontend/components/feedback-task/container/questions/form/ranking/Ranking.component.vue
  frontend/components/feedback-task/container/questions/form/ranking/drag-and-drop-selection/DndSelection.component.vue
  frontend/components/feedback-task/container/questions/form/rating/Rating.component.vue
  frontend/components/feedback-task/container/questions/form/rating/RatingMonoSelection.component.vue
  frontend/components/feedback-task/container/questions/form/shared-components/label-selection/LabelSelection.component.vue
  frontend/components/feedback-task/container/questions/form/shared-components/question-header/QuestionHeader.component.vue
  frontend/components/feedback-task/container/questions/form/text-area/TextArea.component.vue
Labels: size:L

#4715 🍪 Remove all cookies
  frontend/nuxt.config.ts
Labels: area: ui, language: javascript, size:XS, lgtm, team: frontend, severity: minor

#4717 feat: some changes to support using honcho on quickstart image at argilla-server
  frontend/dev.frontend.Dockerfile
Labels: type: enhancement, area: server, area: ci, language: javascript, team: backend, size:S, lgtm, team: frontend, severity: minor

#4721 Docs: overlapping spans
  docs/_source/_common/tabs/question_settings.md
  docs/_source/conceptual_guides/data_model.md
  docs/_source/practical_guides/choose_dataset.md
  docs/_source/practical_guides/create_update_dataset/create_dataset.md
Labels: type: documentation, size:S

#4668 🎡 feat: overlapped span questions
  CHANGELOG.md
  docs/_source/_common/tabs/question_settings.md
  docs/_source/conceptual_guides/data_model.md
  docs/_source/practical_guides/choose_dataset.md
  docs/_source/practical_guides/create_update_dataset/create_dataset.md
  environment_dev.yml
  frontend/assets/scss/abstract/variables/_variables.scss
  frontend/components/feedback-task/container/fields/Record.vue
  frontend/components/feedback-task/container/fields/span-annotation/SpanAnnotationTextField.component.vue
  frontend/components/feedback-task/container/fields/span-annotation/components/EntityComponent.vue
  frontend/components/feedback-task/container/fields/span-annotation/components/highlighting.ts
  frontend/components/feedback-task/container/fields/span-annotation/components/span-selection.test.ts
  frontend/components/feedback-task/container/fields/span-annotation/components/span-selection.ts
  frontend/components/feedback-task/container/fields/span-annotation/useSpanAnnotationTextFieldViewModel.ts
  frontend/v1/domain/entities/question/QuestionAnswer.ts
  pyproject.toml
  src/argilla/client/feedback/schemas/questions.py
  src/argilla/client/feedback/schemas/remote/questions.py
  tests/integration/client/feedback/dataset/local/test_dataset.py
  tests/unit/client/feedback/schemas/remote/test_questions.py
  tests/unit/client/feedback/schemas/test_questions.py
Labels: type: enhancement, area: ui, language: javascript, size:XXL, team: frontend, severity: minor

#4726 ✨ Add pre selection span
  CHANGELOG.md
  frontend/components/feedback-task/container/fields/span-annotation/SpanAnnotationTextField.component.vue
  frontend/components/feedback-task/container/fields/span-annotation/components/highlighting.ts
  frontend/components/feedback-task/container/fields/span-annotation/components/span-selection.ts
Labels: type: enhancement, area: ui, language: javascript, size:L, lgtm, team: frontend

#4735 🎲 feat: SpanQuestion selection of multiple entities from the dropdown
  CHANGELOG.md
  frontend/components/base/base-checkbox/BaseCheckbox.vue
  frontend/components/feedback-task/container/fields/span-annotation/components/EntityBadge.vue
  frontend/components/feedback-task/container/fields/span-annotation/components/EntityComponent.vue
  frontend/components/feedback-task/container/fields/span-annotation/components/EntityDropdown.vue
  frontend/components/feedback-task/container/fields/span-annotation/components/EntityDropdownOverlapping.vue
  frontend/components/feedback-task/container/fields/span-annotation/components/highlighting.ts
  frontend/components/feedback-task/container/fields/span-annotation/useSpanAnnotationTextFieldViewModel.ts
Labels: type: enhancement, area: ui, language: javascript, size:L, team: frontend, severity: minor

#4723 docs: Update es role configuration
  docs/_source/_static/images/installation/elastic_snapshots/configure_argilla_role.png
  docs/_source/getting_started/installation/configurations/elasticsearch.md
Labels: type: documentation, team: backend, size:S, lgtm, severity: minor

#4749 ci: Allow manual execution for deploy argilla environment
  .github/workflows/deploy-environment.yml
  .github/workflows/teardown-pr-environemnts.yml
Labels: area: ci, type: improvement, size:M, lgtm, severity: minor

#4755 fix: Duplicate workflow inputs in workflow_dispatch
  .github/workflows/deploy-environment.yml
  .github/workflows/teardown-pr-environemnts.yml
Labels: type: bug, area: ci, size:S, lgtm, severity: minor

#4709 feat: allow multiple score for value list
  src/argilla/client/feedback/integrations/huggingface/dataset.py
  src/argilla/client/feedback/schemas/suggestions.py
  src/argilla/client/sdk/v1/datasets/models.py
  tests/integration/client/feedback/dataset/local/test_dataset.py
  tests/unit/client/feedback/integrations/huggingface/test_dataset.py
Labels: type: enhancement, area: tests, area: api, language: python, team: ml, area: python sdk, size:M, lgtm, severity: minor

#4753 🐛 Fix reversed string
  CHANGELOG.md
  frontend/components/feedback-task/header/SearchBar.base.vue
  frontend/pages/dataset/_id/annotation-mode/useAnnotationModeViewModel.ts
Labels: type: bug, area: ui, language: javascript, size:S, lgtm, team: frontend, severity: minor

#4744 ⚙️ Fetching env settings
  CHANGELOG.md
  frontend/components/base/base-banner/BaseBanner.vue
  frontend/components/base/base-table/BaseTableInfo.vue
  frontend/components/commons/persistent-storage/PersistentStorageBanner.vue
  frontend/components/commons/persistent-storage/usePersistentStorageViewModel.ts
  frontend/components/features/datasets/datasets-table/DatasetsTable.vue
  frontend/nuxt.config.ts
  frontend/pages/dataset/_id/annotation-mode/index.vue
  frontend/pages/datasets/index.vue
  frontend/pages/useWelcomeHFViewModel.ts
  frontend/pages/welcome-hf-sign-in.vue
  frontend/translation/en.js
  frontend/v1/di/di.ts
  frontend/v1/domain/entities/environment/Environment.ts
  frontend/v1/domain/services/IEnvironmentRepository.ts
  frontend/v1/domain/usecases/get-environment-use-case.ts
  frontend/v1/infrastructure/repositories/EnvironmentRepository.ts
  frontend/v1/infrastructure/repositories/index.ts
  frontend/v1/infrastructure/services/useRunningEnvironment.test.ts
  frontend/v1/infrastructure/services/useRunningEnvironment.ts
  frontend/v1/infrastructure/types/environment.ts
Labels: type: enhancement, area: ui, size:L, team: frontend

#4738 docs: add new environment variable to disable Hugging Face warning when spaces persistant storage is disabled
  docs/_source/getting_started/installation/configurations/server_configuration.md
  docs/_source/getting_started/installation/deployments/huggingface-spaces.md
Labels: type: documentation, area: server, team: ml, size:S, lgtm, severity: minor

#4761 fix: improve score validation checking if value is also a list
  src/argilla/client/feedback/schemas/suggestions.py
Labels: type: bug, language: python, size:XS, lgtm, severity: minor
