Repository argilla-io/argilla, pull requests merged in 2024-03, with the labels that each got.

#4617 feat: create span question from SDK
  CHANGELOG.md
  environment_dev.yml
  pyproject.toml
  src/argilla/__init__.py
  src/argilla/client/feedback/dataset/local/mixins.py
  src/argilla/client/feedback/schemas/__init__.py
  src/argilla/client/feedback/schemas/enums.py
  src/argilla/client/feedback/schemas/questions.py
  src/argilla/client/feedback/schemas/remote/questions.py
  src/argilla/client/feedback/schemas/types.py
  tests/integration/client/feedback/dataset/local/test_dataset.py
  tests/unit/client/feedback/schemas/remote/test_questions.py
  tests/unit/client/feedback/schemas/test_questions.py
Labels: type: enhancement, language: python, team: backend, area: python sdk, size:L, lgtm, severity: minor

#4629 bugfix: Ranking value from suggestions are not properly converted from HF datasets
  CHANGELOG.md
  src/argilla/client/feedback/integrations/huggingface/dataset.py
  src/argilla/client/feedback/schemas/questions.py
  tests/integration/client/feedback/dataset/local/test_dataset.py
Labels: type: bug, team: backend, area: python sdk, size:S, lgtm, severity: minor

#4627 refactor: creating suggestions and responses
  src/argilla/client/feedback/schemas/__init__.py
  src/argilla/client/feedback/schemas/questions.py
  src/argilla/client/feedback/schemas/records.py
  src/argilla/client/feedback/schemas/responses.py
  src/argilla/client/feedback/schemas/suggestions.py
  tests/integration/client/feedback/dataset/local/test_dataset.py
  tests/integration/client/feedback/dataset/remote/test_dataset.py
  tests/unit/client/feedback/schemas/test_responses.py
  tests/unit/client/feedback/schemas/test_suggestions.py
Labels: language: python, type: refactor, team: backend, area: python sdk, size:L, severity: minor

#4632 bugfix: `question.to_local` returns description as `None` though it exists
  CHANGELOG.md
  src/argilla/client/feedback/schemas/remote/questions.py
  tests/unit/client/feedback/schemas/remote/test_questions.py
Labels: type: bug, area: tests, language: python, team: backend, size:S, lgtm, severity: minor

#4501 🚀 Improve pagination
  frontend/components/feedback-task/container/useRecordFeedbackTaskViewModel.ts
  frontend/v1/domain/entities/page/PageCriteria.ts
  frontend/v1/domain/entities/record/RecordCriteria.ts
  frontend/v1/domain/entities/record/Records.ts
  frontend/v1/domain/usecases/get-records-by-criteria-use-case.ts
  frontend/v1/domain/usecases/load-records-to-annotate-use-case.ts
Labels: area: ui, language: javascript, type: improvement, size:M, lgtm, team: frontend

#4630 Feat/expand labels across records
  CHANGELOG.md
  frontend/components/feedback-task/container/questions/form/multi-label/MultiLabel.component.vue
  frontend/components/feedback-task/container/questions/form/shared-components/label-selection/LabelSelection.component.vue
  frontend/components/feedback-task/container/questions/form/shared-components/label-selection/labelSelection.component.spec.js
  frontend/components/feedback-task/container/questions/form/shared-components/label-selection/useLabelSelectionViewModel.ts
  frontend/components/feedback-task/container/questions/form/single-label/SingleLabel.component.vue
Labels: type: enhancement, area: ui, language: javascript, size:M, lgtm, team: frontend, severity: minor

#4636 feat: export import hf dataset with spans
  src/argilla/client/feedback/integrations/huggingface/dataset.py
  tests/integration/client/conftest.py
  tests/integration/client/feedback/dataset/local/test_dataset.py
Labels: language: python, team: backend, type: improvement, area: python sdk, size:XL, lgtm, severity: minor

#4639 docs: mention ARGILLA_AUTH_SECRET_KEY in docker-compose deployment
  docs/_source/getting_started/installation/deployments/docker_compose.md
Labels: type: documentation, team: backend, size:XS, severity: minor

#4623 feat: create responses and suggestions with spans
  CHANGELOG.md
  src/argilla/client/feedback/integrations/huggingface/dataset.py
  src/argilla/client/feedback/metrics/utils.py
  src/argilla/client/feedback/schemas/__init__.py
  src/argilla/client/feedback/schemas/questions.py
  src/argilla/client/feedback/schemas/records.py
  src/argilla/client/feedback/schemas/remote/questions.py
  src/argilla/client/feedback/schemas/response_values.py
  src/argilla/client/feedback/schemas/responses.py
  src/argilla/client/feedback/schemas/suggestions.py
  src/argilla/client/sdk/v1/datasets/models.py
  tests/integration/client/conftest.py
  tests/integration/client/feedback/dataset/local/test_dataset.py
  tests/integration/client/feedback/dataset/remote/test_dataset.py
  tests/unit/client/feedback/schemas/remote/test_questions.py
  tests/unit/client/feedback/schemas/remote/test_records.py
  tests/unit/client/feedback/schemas/test_questions.py
  tests/unit/client/feedback/schemas/test_responses.py
  tests/unit/client/feedback/schemas/test_suggestions.py
Labels: type: enhancement, language: python, team: backend, area: python sdk, size:XL, severity: minor

#4642 🚀 Refactor and improve user setting fields
  frontend/components/commons/edition-user-info/EditionUserInfo.component.vue
  frontend/layouts/HeaderAndTopAndTwoColumns.vue
  frontend/translation/en.js
Labels: area: ui, language: javascript, type: refactor, size:M, team: frontend, severity: minor

#4644 chore: apply some of suggested changes
  src/argilla/client/feedback/integrations/huggingface/dataset.py
  tests/unit/client/feedback/schemas/test_questions.py
Labels: area: tests, language: python, team: ml, type: improvement, size:S, severity: minor

#4648 feat: support visible labels for span questions
  src/argilla/client/feedback/schemas/questions.py
  src/argilla/client/feedback/schemas/remote/questions.py
  tests/unit/client/feedback/schemas/remote/test_questions.py
  tests/unit/client/feedback/schemas/test_questions.py
Labels: area: tests, language: python, team: backend, type: improvement, size:L, severity: minor

#4653 ✨ Remove todo
  frontend/v1/infrastructure/repositories/VectorRepository.ts
Labels: area: ui, language: javascript, type: improvement, size:XS, lgtm, team: frontend, severity: minor

#4665 ✨ Contextualized workspaces
  CHANGELOG.md
  frontend/e2e/common/dataset-api-mock.ts
  frontend/v1/infrastructure/repositories/DatasetRepository.ts
Labels: type: enhancement, area: ui, language: javascript, size:XS, team: frontend, severity: minor

#4660 🎉 Allow external links for markdown
  frontend/components/base/base-render-markdown/RenderMarkdown.base.component.vue
  frontend/components/base/base-render-markdown/renderMarkdown.base.component.spec.js
Labels: type: enhancement, area: ui, language: javascript, size:M, lgtm, team: frontend, severity: minor

#4662 bugfix: pulling `n * chunk_size + 1`
  CHANGELOG.md
  src/argilla/client/feedback/dataset/remote/mixins.py
  tests/integration/client/feedback/dataset/local/test_dataset.py
Labels: type: bug, area: tests, language: python, team: backend, size:S, lgtm, severity: minor

#4663 Docs: Spans question
  docs/_source/_common/tabs/question_settings.md
  docs/_source/_static/images/llms/questions/span_question.png
  docs/_source/practical_guides/annotate_dataset.md
  docs/_source/practical_guides/choose_dataset.md
  docs/_source/practical_guides/create_update_dataset/create_dataset.md
  docs/_source/practical_guides/create_update_dataset/records.md
  docs/_source/practical_guides/create_update_dataset/suggestions_and_responses.md
Labels: type: documentation, area: ui, size:L, severity: minor

#4646 Update README.md
  README.md
Labels: type: documentation, size:S, severity: minor

#4671 chore: Support for optional user id in responses
  src/argilla/client/feedback/schemas/questions.py
  src/argilla/client/sdk/v1/datasets/models.py
Labels: team: backend, type: improvement, area: python sdk, size:XS, lgtm, severity: minor

#4672 Fix Client's handling of Enum Values, to support Python >=3.11 enum handling.
  CHANGELOG.md
  src/argilla/client/apis/metrics.py
  src/argilla/client/apis/search.py
Labels: type: bug, language: python, team: backend, area: python sdk, size:XS, lgtm, severity: major

#4676 🖌️ fix/ui reorder labels styles
  frontend/components/feedback-task/settings/SettingsQuestions.vue
Labels: type: bug, area: ui, language: javascript, size:XS, team: frontend, severity: minor

#4670 🐞 fix/span shortcuts
  docs/_source/_common/shortcuts.md
  frontend/components/feedback-task/container/fields/span-annotation/SpanAnnotationTextField.component.vue
  frontend/components/feedback-task/container/fields/span-annotation/components/EntityComponent.vue
  frontend/components/feedback-task/container/fields/span-annotation/components/EntityComponentDropdown.vue
  frontend/components/feedback-task/container/questions/form/Questions.component.vue
  frontend/components/feedback-task/container/questions/form/shared-components/label-selection/LabelSelection.component.vue
  frontend/components/feedback-task/container/questions/form/span/EntityLabelBadge.vue
  frontend/components/feedback-task/container/questions/form/span/EntityLabelSelection.component.vue
  frontend/components/feedback-task/container/questions/form/span/SpanComponent.vue
  frontend/components/feedback-task/header/SearchBar.base.vue
  frontend/components/feedback-task/header/filters/LabelsSelectorSearch.vue
Labels: type: bug, area: ui, language: python, team: backend, size:M, severity: minor

#4677 Fix wrong URLs within `Text Classification` docs
  docs/_source/_static/tutorials/labelling-feedback-setfit/modal.md
  docs/_source/_static/tutorials/training-feedback-setfit/modal.md
Labels: type: documentation, area: ui, language: python, team: ml, size:XS, severity: minor

#4675 Fix typo
  docs/_source/getting_started/quickstart_installation.ipynb
Labels: type: documentation, size:XS, severity: minor

#4673 refactor: remove unused api call
  src/argilla/client/sdk/workspaces/api.py
  tests/integration/client/sdk/api/test_workspaces.py
Labels: area: api, language: python, type: refactor, team: backend, size:M, lgtm, severity: minor

#4686 ✨ Support RTL languages #4685
  frontend/assets/scss/base/base.scss
  frontend/components/base/base-render-markdown/RenderMarkdown.base.component.vue
  frontend/components/base/base-render-markdown/renderMarkdown.base.component.spec.js
  frontend/components/feedback-task/container/fields/text-field/TextField.component.vue
  frontend/components/feedback-task/container/questions/form/text-area/ContentEditableFeedbackTask.vue
  frontend/jest.setup.ts
  frontend/nuxt.config.ts
  frontend/plugins/plugins/language.ts
  frontend/v1/infrastructure/services/useLanguageDirection.test.ts
  frontend/v1/infrastructure/services/useLanguageDirection.ts
Labels: type: enhancement, area: ui, language: javascript, size:L, team: frontend, severity: minor
